@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

:root {
    --bck-black: rgba(0, 0, 0, .35);
}

html {
    scroll-behavior: smooth;
}

/***************************************************************** H E A D E R *****************************************************************/

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 14.4vh;
}

.container {
    background: url(../images/header-bg.jpg);
    min-height: 14.4vh;
    display: flex;
    width: 100%;
}

.container.pined {
    position: fixed;
    z-index: 999;
    top: 0;
}

.container-logo {
    width: 50%;
    display: flex;
    justify-content: center;
}

.cont-inf-menu {
    width: 50%;
    height: 14.4vh;
}

.container-information {
    background: linear-gradient(50deg, transparent 2rem, #fff 1rem) no-repeat;
    width: 100%;
    height: 5.3vh;
    display: flex;
    justify-content: center;
}

.menu-information {
    list-style: none;
    display: flex;
    align-items: center;
}

.menu-information li {
    display: inline-block;
    font-family: poppins, sans-serif;
    font-size: 13px;
    padding-right: 20px;
}

.menu-information li:nth-child(3) {
    padding-left: 10px;
}

.menu-information li img {
    padding-right: 10px;
}

.container-menu {
    width: 100%;
    height: 6.8vh;
    margin-top: 2px;
    padding-top: 0;
    display: flex;
}

.menu {
    width: 85%;
    padding-top: 15px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu li {
    font-family: poppins, sans-serif;
}

.menu li a {
    color: #fff;
    text-decoration: none;
    padding: 2px;
}

.menu li a.active,
li a:hover {
    background-color: rgba(0, 0, 0, .4);
    padding: 5px 10px;
    transition: .2s;
}

.menu.show {
    top: 90px;
}

.hamb {
    display: none;
    cursor: pointer;
    border: none;
    padding-top: 6px;
    background-color: transparent;
}

.hamb span {
    display: block;
    background-color: #f3f3f3f3;
    height: 3px;
    width: 28px;
    margin: 10px;
    border-radius: 2px;
}

/******************************************************************* H E R O *******************************************************************/

.hero-image {
    background: linear-gradient(var(--bck-black), var(--bck-black)), url(../images/hero.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: calc(100vh - 109px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-title {
    width: 55%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.title {
    display: flex;
    flex-direction: column;
}

.kamba {
    margin-top: 0;
    color: #70a738;
    font-family: Aladin, sans-serif;
    letter-spacing: 4px;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-weight: 900;
    font-size: 4rem;
    margin-bottom: 0;
    text-shadow: -2px -3px 2px #fff;
}

.tour {
    color: #138451;
    letter-spacing: 1px;
    margin-top: 10px;
}

.know {
    display: flex;
    justify-content: center;
}

.know-us {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    border: none;
    background-color: rgba(23, 162, 184, .7);
    padding: 7px;
    margin-top: 20px;
}

.know-us a {
    text-decoration: none;
    color: #fff;
    text-shadow: -1px -1px 2px rgb(0, 0, 0);
}

.subtitle {
    font-family: poppins, sans-serif;
    font-weight: 400;
    font-size: 2.5rem;
    margin-top: 30px;
    scroll-margin-top: 109px;
    display: flex;
    justify-content: center;
}

/****************************************************************** A B O U T ******************************************************************/

.about {
    width: 100%;
}

.cont-paragraph {
    display: flex;
    justify-content: center;
}

.paragraph {
    font-family: popins, sans-serif;
    width: 30%;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-weight: 400;
    font-size: 1rem;
}

.means {
    padding-top: 20px;
    font-style: italic;
    font-weight: 600;
}

.paragraph-about {
    width: 65%;
    font-size: 1.3em;
    letter-spacing: 2px;
}

.subtitle-team {
    width: 100%;
    padding-right: 15px;
    padding-left: 40px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: center;
}

#team {
    width: 70%;
    margin-bottom: 0.5rem;
    font-weight: 600;
    line-height: 1.2;
    display: block;
}

.container-cards {
    display: flex;
    justify-content: center;
    width: 80%;

}

.card {
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 10%;
    border-radius: 10px;
    margin-right: 20px;
}

.card img {
    display: block;
    width: 100px;
    margin: 20px auto;
    border-radius: 50%;
    background-size: cover;
}

.name-place {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;
    padding-bottom: 0;
}

.name {
    margin-bottom: 0;
}


/***************************************************************** T R A V E L *****************************************************************/

.travel {
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: center;
    background: #ffa;
}

/**************************************************************** C O N T A C T ****************************************************************/

.contact {
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: center;
    background: #faf;
}

/**************************************************************** F O O T T E R ****************************************************************/